<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onespace.manager.mapper.UserMapper">
    <resultMap id="UserTest" type="com.onespace.manager.pojo.UserTest">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
    </resultMap>

    <select id="selectUserById" parameterType="Integer" resultMap="UserTest">
      SELECT * FROM USER WHERE  id = #{id}
    </select>

    <insert id="insert" parameterType="com.onespace.manager.pojo.UserTest">
        insert into onespace (id, username,password)
        values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},)
    </insert>
</mapper>
